.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(15, 55, 72);

    height: 100dvh;
    width: 100dvw;
}

.border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 75dvh;
    width: 50dvw;

    background-color: rgb(86, 180, 220);
    border: 15px double rgb(34, 127, 170);
}
